<div class="top-offset"></div>
<div class="title">
  <h3>{{title}}</h3>
</div>
<div>
  <h3>Name: {{ (weapon | async)?.Name}}</h3>
</div>

<table *ngIf="!isActive">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Damage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Hello</td>
      <td class="text-center">Dollors</td>
    </tr>
    <tr>
      <td class="text-center">Hello</td>
      <td class="text-center">Dollors</td>
    </tr>
    <tr *ngFor="let weapon of weaponsLocal"  ><!--Add this, [routerLink]="['/detail', planet.id]"-->
      <td class="text-center">{{weapon.name}}</td>
      <td class="text-center">{{weapon.damage}}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="isActive">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Damage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weapon of weapons | async">
      <td class="text-center"> {{ (weapon)?.Name}}</td>
      <td class="text-center"> {{ (weapon)?.Dmg}}</td>
    </tr>
  </tbody>
</table>

