<div class="top-offset">
</div>
<div class="">
	<h3> Character Creation </h3>
</div>

<h1> {{stage}} </h1>
<form (ngSubmit)="onSubmit()" #characterForm="ngForm">
 
  <div class="form-group" [hidden]="currentPhase !== 'race'">
  	<div *ngFor="let each of races">
		<div class="choice" (click)="choose(each.race, 'race')"> 
			<h3> {{each.race}} </h3>
		</div>
  		<h2> {{each.desc}} </h2>
  	</div>
  </div>

  <div class="form-group" [hidden]="currentPhase !== 'class'">
    <div *ngFor="let each of classes">
		<div class="choice" (click)="choose(each.class, 'class')"> 
			<h3> {{each.class}} </h3>
		</div>
  		<h2> {{each.desc}} </h2>
  	</div>
  </div>

  <!-- After Class and Race Phase -->
  <div class="form-group" [hidden]="currentPhase !== 'custom'">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name"
           #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Name is required
    </div>
  </div>
  
  <div class="form-group" [hidden]="currentPhase !== 'custom'">
    <label for="weight">Weight (Optional)</label>
    <input type="text" class="form-control" id="weight"
           [(ngModel)]="model.weight" name="weight">
  </div>

  <div class="form-group" [hidden]="currentPhase !== 'custom'">
    <label for="age">Age (Optional)</label>
    <input type="text" class="form-control" id="age"
           [(ngModel)]="model.age" name="age">
  </div>

  
  <div class="form-group" [hidden]="currentPhase !== 'custom'">
    <label for="religion">Religion</label>
    <input type="text" class="form-control" id="religion"
           [(ngModel)]="model.religion" name="religion">
  </div>

  <div class="form-group" [hidden]="currentPhase !== 'custom'">
    <label for="fate">Fate and Sign</label>
    <input type="text" class="form-control" id="fate"
           [(ngModel)]="model.fate" name="fate">
  </div>

  <div class="form-group" [hidden]="currentPhase !== 'custom' || model.class !== 'Psionic'">
    <label for="fate">Fate and Sign</label>
    <input type="text" class="form-control" id="fate"
           [(ngModel)]="model.fate" name="fate">
  </div>


  <div class="form-group" [hidden]="currentPhase !== 'stats'">
    <label for="fate">Roll for Stats:</label>
    <button type="button" class="btn btn-default" [disabled]="rolled" (click)="roll()">Roll!</button>
    <div class="row"> 
	    <div class="col-1-4" *ngFor="let each of stats">
	    	<div class="stat">
	    		<h3>{{each}} {{getStat(each)}}</h3>
	    	</div>
	    </div>
    </div>
  </div>

  <!-- Other Functionality 
	Choose Religion, Fate

	If Psionic, choose spells.
	
	Choose Talents

	Customization (i.e. Heirloom, Background, Planet)

	Roll for stats

	Level and Subclass

	In the end, store character with all abilites
  -->

  <!-- Submit Buttons -->
  <div [hidden]="currentPhase !== 'custom' && currentPhase !== 'stats'">
  	<button type="button" class="btn btn-default"  (click)="nextPhase()">Next</button>
  </div>

  <div [hidden]="currentPhase !== 'finish'">
  	<button type="button" class="btn btn-default"  (click)="changeDetails()">Change Details</button>
  	<button type="submit" class="btn btn-success" [disabled]="!characterForm.form.valid"s>Submit</button>
  </div>
</form>


